node_modules
/src/generated/prisma
.env
.windsurf
.claude
.agents
skills-lock.json
%APPDATA%
dist/
coverage/
logs/
*.log
/generated/prisma
.DS_Store
Thumbs.db
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*